*{
    margin:0;
    padding:0;
    font-family:'roboto',sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url(main_page.jpeg );
    background-position:center;
    background-size:cover;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent;
    position: absolute; top: 20px; right: 100px;;
  }
.navbar{
    height:12%;
    display:flex;
    align-items:center;
}
.logo{
    width:200px;
    cursor:pointer;   
}
.menu_icon{
    width:30px;
    cursor:pointer;
    margin-left:40px;
}
nav{
    flex:1;
    text-align:right;
}

.row{
    display:flex;
    height:88%;
    align-items:center;
}
.col{
    flex-basis:50%;
}
h1{
    color:#00ff00;
    font-size:40px;
    font-family:cursive
}
p{
    color:#fff;
    font-size:25px;
    line-height:40px;
    font-family:Arial, Helvetica, sans-serif; 

}
button{
    width:120px;
    height:40px;
    color:white;
    font-size:20px;
    padding:#fff;
    background:transparent;
    border:1px solid #fff;
    border-radius:20px;
    outline:none;
    margin-top:30px;
    cursor:pointer;
}
button:hover{
    border:1px solid #f44336;
    background:#f44336;
    transition:1s;
}

 #options {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 30px;
    width:280px;
    height:350px;
    border:10px solid green;
   
  }

  #options a {
    display: block;
    margin-bottom: 8px;
    margin-top:100px;
    color:white;
    text-decoration:cyan;
    text-align:center;
    font-size:25px;
  }
 
/* ... (your existing styles) ... */

.overlay {
    border:15px solid green;
    display: none;
    position: fixed;
    top: 150px;
    left: 300px;
    margin:auto;
    width: 55%;
    height: 50%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1;
   
    transition: background 0.5s ease;
}

.login-box {
   
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.7); /* Updated background color to translucent grey */
    color: white; /* Updated text color to white */
    padding: 20px; /* Increased padding for a larger box */
    border-radius: 12px; /* Increased border radius for a rounded appearance */
    text-align: center;
    position: fixed;
    box-shadow: 0px 0px 16px 0px rgba(250, 250, 250, 0.9 ), 0px 0px 16px 0px rgba(0, 0, 0, 0.9 ) inset;
    transition: background 0.5s ease;
}
form label {
    
    padding-top: 15px;
    color:white;
    display: block;
    margin-bottom: 16px;
    font-size:16px; /* Increased margin for better spacing */
}

form input {
    width: 100%; /* Make input fields take up the full width of the container */
    padding: 10px; /* Increased padding for better spacing */
    box-sizing: border-box;
    margin-bottom: 16px; 
    font-size:16px;/* Increased margin for better spacing */
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color:#fff;
}

#close-btn:hover {
    color: #3498db;
}

/* ... (your existing styles) ... */


form p {
    margin-top:10px;
    font-size:13px;
}

form p a {
    color: #f7f7f7;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}
h3{
    color:white;
    text-align:center;
    font-size:30px;
    text-shadow:1px 1px 2px red, 0 0 1em white, 0 0 0.2em white;;
}




.smoke ul li {
    color:#00ff00;
    font-size:40px;
    font-family:cursive;
    list-style:none;
    font-weight:bold;
    letter-spacing:1px;
    filter:blur(1px);
    display: inline-block; 
    margin-bottom:10px;
}
.smoke ul:hover li {
    animation: smoke 2s linear forwards;
}
@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100% {
      transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter:blur(20px);
    }
}

.smoke ul li:nth-child(1){
    animation-delay:0s;  
}
.smoke ul li:nth-child(2){
    animation-delay:.4s
}
.smoke ul li:nth-child(3){
    animation-delay:.8s
}
.smoke ul li:nth-child(4){
    animation-delay:1.2s
}
.smoke ul li:nth-child(5){
    animation-delay:1.6s
}
.smoke ul li:nth-child(6){
    animation-delay:2s
}
.smoke ul li:nth-child(7){
    animation-delay:2.4s
}
.smoke ul li:nth-child(8){
    animation-delay:2.8s
}
.smoke ul li:nth-child(9){
    animation-delay:3.2s;
    
}
.smoke ul li:nth-child(10){
    animation-delay:3.6s;
   
}
.smoke ul li:nth-child(11){
    animation-delay:4s
}
.smoke ul li:nth-child(12){
    animation-delay:4.4s
}
.smoke ul li:nth-child(13){
    animation-delay:4.8s
    
}
.smoke ul li:nth-child(14){
    animation-delay:5.2s;
    
}
.smoke ul li:nth-child(15){
    animation-delay:5.6s
}
.smoke ul li:nth-child(16){
    animation-delay:6s
}
.smoke ul li:nth-child(17){
    animation-delay:6.4s
}
.smoke ul li:nth-child(18){
    animation-delay:6.8s
}
.smoke ul li:nth-child(19){
    animation-delay:7.2s;
}
.smoke ul li:nth-child(20){
    animation-delay:7.6s
}
.smoke ul li:nth-child(21){
    animation-delay:8s;
    
}
.smoke ul li:nth-child(22){
    animation-delay:8.4s;
   
}
.smoke ul li:nth-child(23){
    animation-delay:8.8s
}
.smoke ul li:nth-child(24){
    animation-delay:9.2s
}
.smoke ul li:nth-child(25){
    animation-delay:9.6s;
   
}
.smoke ul li:nth-child(26){
    animation-delay:10s
}
.smoke ul li:nth-child(27){
    animation-delay:10.4s
}
.smoke ul li:nth-child(28){
    animation-delay:10.8s
}
.smoke ul li:nth-child(29){
    animation-delay:11.2s
}
.smoke ul li:nth-child(30){
    animation-delay:11.6s
}
.smoke ul li:nth-child(31){
    animation-delay:12s
}
.smoke ul li:nth-child(32){
    animation-delay:12.4s
}
.smoke ul li:nth-child(33){
    animation-delay:12.8s
}
.smoke ul li:nth-child(34){
    animation-delay:13.2s
}








