body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('teachers_dashboard.jpg'); /* Replace 'your-background-image-url.jpg' with the URL of your background image */
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #fff; /* Set text color to white */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7); /* Use rgba for a semi-transparent background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin bottom to create space for the button */
}

h1 {
  color: #3498db; /* Set heading color to a blue shade */
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ecf0f1; /* Set text color to a light shade */
}

.quiz-link {
  text-decoration: none;
  color: #2ecc71; /* Set link color to a green shade */
  font-weight: bold;
  margin: 0 20px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff; /* Set button background color */
  transition: background-color 0.3s, color 0.3s;
}

.quiz-link:hover {
  background-color: #2ecc71; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

#view-performance-button {
  text-decoration: none;
  color: #fff; /* Set button text color to white */
  font-weight: bold;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #3498db; /* Set button background color to blue */
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px; /* Add margin bottom to create space between the container and button */
}

#view-performance-button:hover {
  background-color: #2980b9; /* Darker blue on hover effect */
}
